langchain
langchain-text-splitters
sentence_transformers
langchain_huggingface
faiss-cpu
pandas
openai
langchain-groq
mysql-connector-python
SQLAlchemy
unstructured
streamlit
pandas
plotly
requests
langchain-groq
langchain-community
huggingface-hub
faiss-cpu
firebase-admin
Pillow
matplotlib
pyrebase4
sqlalchemy
seaborn